<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <app-navbar-backoofice></app-navbar-backoofice>

        <!-- Sidebar -->
       
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
          
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
           <br/>
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Demandes</h1>
           <br/>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Liste Des Demandes</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID Demande</th>
                                            <th>Nom Etudiant</th>
                                            <th>Nom Departement</th>
                                            <th>Date de Creation</th>
                                            <th>Statut</th>
                                            <th>Repense</th>
                                          
                                        </tr>
                                    </thead>
                                   
                                    <tbody *ngIf="demandes.length>0">
                                        <tr *ngFor="let d of demandes;">
                                            <td>{{d.idDemande}}</td>
                                            <td>{{d.etudiants.nomE}} {{d.etudiants.prenomE}}</td>
                                            <td> {{d.departement.nomDepart}}</td>
                                            <td>{{d.date | date: 'EEEE, MMMM d, y'}}</td>
                                            <td>{{d.statut}}</td> 
                                            
                                            <td *ngIf="d.statut=='Pending'">
                                                <button class="btn btn-success" (click)="Rependre(d.idDemande)">Rependre</button>
                                            </td>                                      
                                        </tr>
                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
        
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->




    <!-- Bootstrap core JavaScript-->


    <!-- Page level plugins -->


</body>