
<!-- Header End -->


    <!-- Ajout Start -->
    <div class="container-fluid py-5" style="margin-top: -120px;">
        <div class="container py-5">

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5 couleur">
                        <div class="text-center">
                            <h5 class=" text-uppercase " ngClass="titreAjout">
                          modifier Departement
                            </h5>
                        </div>
                        <br/> <br/> <br/>
                        
                        <form #f="ngForm" (ngSubmit)="addUser(f.value)">
                           
                            
                                <div class="col" class="form-group">
                                    <input type="text"
                                    
                                    class="form-control"
                                    placeholder=" Nom du Depart"
                                    required  minlength="3" name="nomDepart" [(ngModel)]="dept.nomDepart" #nom="ngModel"  />
                                    <!-- {{DepartForm?.get('username')?.errors | json}}
                                        //AFFICHER LES ERREURES
                                     -->
                                    <div *ngIf="nom.invalid && nom.touched" class="invalid-feedback d-block">
                                 Nom de Departement Obligatoire !
                                  
                                </div>
                                <br/>

                                <div class="col"  class="form-group">
                                    <input type="text"
                                    class="form-control"
                                    placeholder="surNom"
                                    required  minlength="2" name="surNom" [(ngModel)]="dept.surNomDepart" #surNom="ngModel"  />
                                    <div *ngIf="surNom.invalid && surNom.touched" class="invalid-feedback d-block">
                                        Surnom de Departement Obligatoire !
                                    </div>
                                    <div *ngIf="surNom.errors?.['minlength']" class="alert alert-danger" role="alert">
                                        il faut minimum {{ surNom.errors['minlength'].requiredLength}} caractères alors que vous avez écrits {{ surNom.errors['minlength'].actualLength}}
                                     </div>
                                 
                           
                            <br/>

                          
                                <div class="col"  class="form-group">
                                    <textarea 
                                    
                                    placeholder="description"
                                    required  minlength="20"  name="description" [(ngModel)]="dept.description" #description="ngModel"
                                    class="form-control"
                                   style="  width: 100%;
                                    height: 150px;
                                    padding: 12px 20px;
                                    box-sizing: border-box;
                                    border: 2px solid #ccc;
                                    border-radius: 4px;
                                    background-color: #f8f8f8;
                                    font-size: 16px;
                                    resize: none;">
                                    
                                    </textarea>
                                    <div *ngIf="description.invalid && description.touched" class="invalid-feedback d-block">
                                        description de Departement Obligatoire !
                                    </div>
                                    <div *ngIf="description.hasError('pattern')" class="alert alert-danger" role="alert">
                                        tous des lettres
                                     </div>
                                   
                           
                            <br/>

                                 
                                 
                                </div>
                             
                          
                            </div>



                           

                            <div class="row">
                                <div class="col">
                                    <div class="text-center mt-5 my-3">
                                        <button class="btn btn-primary py-3 px-5 "                                              
                                               type="submit"
                                               [disabled]="f.invalid"
                                               >modifier
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                                </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>