<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

       

        <!-- Sidebar -->
       
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
          
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
           <br/>
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
           <br/>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>email</th>
                                          
                                            <th>option</th>
                                        
                                          
                                          
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        <tr *ngFor="let User of list;let index = index">
                                            <td>{{User.nomE }}</td>
                                            <td>{{User.prenomE}}</td>
                                            <td>{{User.email}}</td>
                                          
                                            <td>{{User.option}}</td>
                                          
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
        
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->




    <!-- Bootstrap core JavaScript-->


    <!-- Page level plugins -->


</body>