<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Ekadem</h5>
            <h1>Contact For Any Query</h1>
        </div>


        <div class="control-group">
            <form [formGroup]="myForm" (ngSubmit)="login()">
                <div formGroupName="autres">
                    <div class="form-group">

                        <input formControlName="email"  type="email" class="form-control border-0 p-4" id="email"
                            placeholder="Please enter your email" required="required" />
                            <div
                                             *ngIf="myForm.get('autres').get('email').invalid && myForm.get('autres').get('email').touched">
                                            <div *ngIf="myForm.controls['autres'].get('email').errors['required']"
                                                class="alert alert-danger" role="alert">
                                                Email Obligatoire !
                                            </div>
                                        </div>
                                        <div *ngIf="myForm.controls['autres'].get('email').errors?.['pattern']"
                                        class="alert alert-danger" role="alert">
                                   Réinitialiser votre email!!! !
                                    </div> 



                        <div class="control-group">
                            <input  formControlName="password"type="password" class="form-control border-0 p-4" id="password"
                                placeholder="Please enter your password" required="required">
                            
                        </div>
                        <div
                        *ngIf="myForm.get('autres').get('password').invalid && myForm.get('autres').get('password').touched">
                       <div *ngIf="myForm.controls['autres'].get('password').errors['required']"
                           class="alert alert-danger" role="alert">
                          Password Obligatoire !
                       </div>
                   </div>
                   <div *ngIf="myForm.controls['autres'].get('password').errors?.['pattern']"
                   class="alert alert-danger" role="alert">
              Réinitialiser votre mot de passe!!! !
               </div>
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-5" type="submit" id="loginButton">login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>