<!-- Header End -->
<body id="page-top">

<div id="wrapper">

        <app-navbar-backoofice></app-navbar-backoofice>
    <!-- Ajout Start -->
    <div class="container-fluid py-5" style="margin-top: -120px;">
        <div class="container py-5">

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5 couleur">
                        <div class="text-center">
                            <h5 class=" text-uppercase " ngClass="titreAjout">
                            Ajouter un nouveau universite
                            </h5>
                        </div>
                        <br/> <br/> <br/>
                        <form #f="ngForm" (ngSubmit)="addUniv(f.value)">
                            
                                <div class="col" >
                                    <label for="nomUniv">Nom </label>
                                    <input type="text"
                                    class="form-control"
                                    
                                    required  minlength="2" pattern="[a-zA-Z]*" name="nomUniv" [(ngModel)]="universite.nomUniv" #first="ngModel"
                                      />
                                   
                                    <div *ngIf="first.invalid && first.touched" class="invalid-feedback d-block">
                                      <div *ngIf="first.errors['required']">
                                        Nom est obligatoire</div>
                                    </div>
                                    <div *ngIf="first.errors?.['minlength']" class="alert alert-danger" role="alert">
                                        Il faut minimum {{ first.errors['minlength'].requiredLength}} caractères alors que vous avez écrits {{ first.errors['minlength'].actualLength}}
                                     </div>

                                     <div *ngIf="first.hasError('pattern')" class="alert alert-danger" role="alert">
                                        Il faut utiliser des lettres c'est tout
                                     </div>
                                  
                                </div>
                                

                                <div class="col">
                                    <label for="niveau">Niveau </label>
                                    
                                        <select required name="niveau" [(ngModel)]="universite.niveau"  [(ngModel)]="universite.niveau" #niveau="ngModel" class="form-control " style="height: 40px;">
                                            
                                            <option value="JUNIOR">JUNIOR</option>
                                            <option value="SENIOR">SENIOR</option>
                                            <option value="EXPERT">EXPERT</option>
                                        </select>
                                    
                                    <div *ngIf="niveau.invalid && niveau.touched" class="invalid-feedback d-block">
                                        <div *ngIf="niveau.errors['required']">
                                        Niveau est obligatoire
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <label for="lieu">Niveau </label>
                                    <input type=""
                                    class="form-control"
                                    
                                    required  minlength="2" pattern="[a-zA-Z]*" name="lieu" [(ngModel)]="universite.lieu" #lieu="ngModel"
                                      />
                                    <div  *ngIf="lieu.invalid && lieu.touched" class="invalid-feedback d-block">
                                      <div *ngIf="lieu.errors['required']">
                                        Lieu est obligatoire</div>
                                    </div>
                                </div>
                           
                            <br/>

                          
                                <div class="col">
                                    <label for="description">Description </label>
                                    <textarea required  minlength="10"  name="description" [(ngModel)]="universite.description" #description="ngModel"
                                     id="message" cols="30" rows="5" class="form-control"></textarea>
                                 
                                    <div *ngIf="description.invalid && description.touched" class="invalid-feedback d-block">
                                      <div *ngIf="description.errors['required']">
                                        Description est obligatoire</div>
                                    </div>
                                    <div  class="invalid-feedback d-block">
                                      <div *ngIf="description.errors?.['minlength']">
                                        vous devez saisir au moins 10 caractéres </div>
                                    </div>
                                   
                                </div>
                             
                          
                          



                           

                            <div class="row">
                                <div class="col">
                                    <div class="text-center mt-5 my-3">
                                        <button class="btn btn-primary py-3 px-5 "                                              
                                             
                                                [disabled]=" f.invalid ">Ajouter
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></body>